<div class="id">
  {{booking.bookingID}}
</div>
<div class="date">
  {{booking.date}}
</div>
<div class="city">
  {{booking.city}}
</div>
<div class="address">
  {{booking.address}}
</div>
<div class="session">
  {{booking.session}}
</div>