<div class="container camp-container">
  <div class="card">
    <div class="form-container">
      <div class="title header__title">
        Setup a new Camp
      </div>
      <form>
        <div class="form__input">
          <div class="select-field">
            <div class="name">City</div>
            <select onchange={{action "setCity" value="target.value"}}>
              <option value="none" selected disabled hidden>Select a City</option>
              {{#each cityData as |city|}}
                <option value={{city.cityID}}>{{city.name}} </option>
              {{/each}}
            </select>
          </div>

          <div class="input-field">
            <span class="label">Camp Location</span>
            {{input value=address}}
          </div>
          <div class="date-range">
            <div class="input-field">
              <span class="label">From</span>
              {{input type="date" value=fromDate required=true}}
            </div>
            <div class="input-field">
              <span class="label">To</span>
              {{input type="date" value=toDate key-press="test" required=true}}
            </div>
          </div>
          <button
            {{action "test"}}
            class="button button--primary"
          >Create</button>
        </div>

      </form>
    </div>
  </div>
</div>