<div class="container__center">

  <div class="city__container">
    <div class="city-data">
      <div class="city__name">
        {{model.name}}
      </div>
      <div class="stock">
        <p>Current Stock</p>
        <div class="value">{{model.stock}}
          <div class="action" {{action "editStock"}}>{{material-icon
              icon="edit"
            }}

          </div>
        </div>

      </div>
      <div class="count">
        <p>Total People Vaccinated</p>
        {{model.vaccinatedCount}}
      </div>
    </div>
    <div class="content">

      {{#if campAvailable}}
        <div class="action" {{action "addCamp"}}>{{material-icon
            icon="add"
          }}</div>
        {{camp-details
          class="container"
          campList=model.campList
          addNewCamp="addCamp"
          addVaccinatedCount="addVaccinatedCount"
        }}
      {{else}}

        {{add-camp
          class="container__center"
          cityID=model.cityID
          refresh="refresh"
        }}

      {{/if}}
    </div>

  </div>
</div>
{{update-stock
  cityID=model.cityID
  initialStock=model.stock
  id="registration-modal-container"
  class="hidden add-city"
  updateStock="updateStock"
}}