<div class="profile__container">
  <div class="profile">
    <div class="card">
      <div class="section__header">
        My Profile
        {{material-icon icon="person"}}
      </div>
      <div class="section__content">
        <div class="picture">
          {{material-icon icon="account_circle"}}
        </div>
        {{profile-data
          class="profile-data"
          icon="fingerprint"
          name="Aadhar ID"
          value=model.AadharID
        }}
        {{profile-data
          class="profile-data"
          icon="badge"
          name="First Name"
          value=model.firstName
        }}
        {{profile-data
          class="profile-data"
          icon="badge"
          name="Last Name"
          value=model.lastName
        }}
        {{profile-data
          class="profile-data"
          icon="cake"
          name="Date of Birth"
          value=model.DOB
        }}
        {{profile-data
          class="profile-data"
          icon="phone_iphone"
          name="Mobile"
          value=model.mobile
        }}
        <button class="button button--primary" {{action "logout"}}>
          {{material-icon icon="logout"}}
          Log Out
        </button>
      </div>
    </div>
  </div>
  <div class="history">
    <div class="card">
      <div class="section__header">
        Booking History

        {{material-icon icon="history"}}
      </div>
      <div class="booking-details__container">
        {{#if hasBookingHistory}}
          <div class="header">
            <div class="id">Booking ID</div>
            <div class="date">Date</div>
            <div class="city">City</div>
            <div class="address">Location</div>
            <div class="session">Session</div>
          </div>
          {{#each bookingHistory as |booking|}}
            {{booking-details class="booking-details" booking=booking}}
          {{/each}}
        {{else}}
          <div class="no-record__message">

            No Booking History Found

          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="upcoming">
    <div class="card">
      <div class="section__header">
        Upcoming Booking
        {{material-icon icon="event_upcoming"}}
      </div>
      <div class="booking-details__container">

        {{#if hasUpcomingBooking}}
          <div class="header">

            <div class="id">Booking ID</div>
            <div class="date">Date</div>
            <div class="city">City</div>
            <div class="address">Location</div>
            <div class="session">Session</div>

          </div>
          {{#each upcomingBooking as |booking|}}
            {{booking-details class="booking-details" booking=booking}}
          {{/each}}

        {{else}}
          <div class="no-record__message">

            There are no upcoming bookings.
            {{#link-to "user" class="button button--primary"}}{{material-icon
                icon="how_to_reg"
              }}
              Book Now
            {{/link-to}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>