<div class="form-container">
  <div class="title brand__header">
    LOGIN
  </div>
  <form {{action "authenticate" on="submit"}}>
    <div class="form__input">
      <div class="input-field">
        <span class="label">User ID</span>
        {{input
          value=id
          required=true
          pattern="[A-Za-z0-9]{5,12}"
          title="User ID must be alphanumeric with a minimum lenth of 5 and maximum length of 12"
        }}
      </div>
      <div class="input-field">
        <span class="label">Password</span>
        {{input
          type="password"
          required="true"
          pattern="[A-Za-z0-9]{8,16}"
          title="Password must be between a  minimum length of 5 and maximum length of 12"
          value=password
        }}
      </div>
      <div
        class="error {{if isError 'visible' 'hidden'}}"
      >{{errorMessage}}</div>
      <button class="button button--primary">Log in</button>
    </div>
  </form>

  <div class="form__footer">
    <p>Don't have an account?
      {{#link-to "accounts.register" class="link"}}Click Here{{/link-to}}</p>
  </div>

</div>